div.out_div {
	width: 400px;
	height: 400px;
	border: 2px solid #0000002b;
    margin: 280px auto;
}

div.in_div_title {
	text-align: center;
	font-size: larger;
	font-weight: bold;
	height: 50px;
}
div.in_div_title p{
	padding: 15px;
}
    
div.in_div_account {
	text-align: center;
}

div.in_div_account input {
	font-size: 20px;
}

div.in_div_pwd {
	text-align: center;
}

div.in_div_pwd input {
	font-size: 20px;
}

div.in_div_errorMsgs {
	height: 20px;
}

div.in_div_submit_btn {
	text-align: center;
}

div.in_div_submit_btn input.submit_btn {
	font-weight: bold;
	font-size: larger;
	background-color: #FAE191;
	width: 100px;
	margin: 50px 0 0 0;
}

div.in_div_forget_pwd {
	text-align: center;
}

div.in_div_register_new {
	text-align: center;
}

div.in_div_fb_google_btn {
	text-align: center;
}

div.in_div_fb_google_btn ul {
	margin: 20px auto;
	padding: 0;
}

li.in_li_fb_btn {
	display: inline-block;
	list-style: none;
}

li.in_li_google_btn {
	display: inline-block;
	list-style: none;
}

img.fb_google_img {
	width: 150px;
}